//THIS IS THE STYLING FOR DEVICE WITH WIDTH 320PX TILL 768PX

@media only screen and (min-width:320px) and (max-width:768px){

    .home{
        cursor:pointer;
        margin:0.2rem 0 0 0;

        .imageSlider{
            display:none;
        
        }
    }


}
//THIS IS THE STYLING FOR DEVICE WITH WIDTH 769PX TILL ...

@media only screen and (min-width:769px){

    .home{
        cursor:pointer;
        margin:0.7rem 0 0 0;

        .imageSlider{
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;

            .bigIndicator{
                width:4%;
                height:1.5rem;
                margin:0 auto;
                display:flex;
                flex-direction:row;
                align-items: center;
            }
        
        }
        .smallImageSlider{
            display:none;
        }
    }
}

//THIS IS THE STYLING FOR DEVICE WITH WIDTH 320PX TILL 480PX

@media only screen and (min-width:320px) and (max-width:480px){

    .home{
        position:relative;
        top:6rem;

        .newarrivals{
            width:90%;
            margin:5rem auto 0 auto;
            background:white;
            

            h4{
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight:bold;
                
            }

            .newproducts{
                width:100%;
                overflow-x:scroll;
                background:white;

                &::-webkit-scrollbar{
                    display:none;
                }

                .overfloww{
                    overflow-x: scroll;
                    width:175%;
                    margin:0 auto;
                    display:grid;
                    grid-template-columns:repeat(4, 1fr);
                    grid-gap:0.5rem;
                    background:white;

                }
            
                
            }



        }

        .productpreview{

            width:90%;
            margin:2rem auto 0 auto;
            overflow-x:scroll;

            &::-webkit-scrollbar{
                display:none;
            }

            .overfloww{
                width:175%;
                margin:0 auto;
                display:grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap:0.5rem;

            }


        }

        .footer{
            background:#000;
            height:5rem;
            width:100%;
            margin:3rem 0 0 0;
            color:#fff;
            font-family:"Arvo", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

            .footermenu{
                width:96%;
                margin:0 auto;
                height:2.5rem;
                display:flex;
                justify-content:center;
                align-items:center;
                padding:0.4rem 0 0 0;
                
                
                

                .footmenu{
                    color:#fff;
                    border-right:0.1rem solid #fff;
                    padding:0 1.5% 0 1.5%;
                    font-size:0.6rem;
                }
            }
            .footercopyright{
                width:96%;
                display:flex;
                justify-content:center;
                align-items:center;
                font-size:0.5rem;
                margin:0 auto;
               

            }
        }
    }
}

//THIS IS THE STYLING FOR DEVICE WITH WIDTH 481PX TILL 599PX

@media only screen and (min-width:481px) and (max-width:599px){

    .home{

        position:relative;
        top:5.5rem;

        .newarrivals{
            width:90%;
            margin:5rem auto 0 auto;
            background:white;
            

            h4{
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight:bold;
                
            }

            .newproducts{
                width:100%;
                overflow-x:scroll;
                background:white;

                &::-webkit-scrollbar{
                    display:none;
                }

                .overfloww{
                    overflow-x: scroll;
                    width:180%;
                    margin:0 auto;
                    display:grid;
                    grid-template-columns:repeat(4, 1fr);
                    grid-gap:0.5rem;
                    background:white;

                }
            
                
            }

            

        }

        .productpreview{

            width:90%;
            margin:2rem auto 0 auto;
            overflow-x:scroll;

            &::-webkit-scrollbar{
                display:none;
            }

            .overfloww{
                width:180%;
                margin:0 auto;
                display:grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap:0.5rem;

            }


        }
        .footer{
            background:#000;
            height:5rem;
            width:100%;
            margin:3rem 0 0 0;
            color:#fff;
            font-family:"Arvo", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

            .footermenu{
                width:90%;
                margin:0 auto;
                height:3rem;
                display:flex;
                justify-content:center;
                align-items:center;
                padding:0.4rem 0 0 0;
                
                
                

                .footmenu{
                    color:#fff;
                    border-right:0.1rem solid #fff;
                    padding:0 1.5% 0 1.5%;
                    font-size:0.7rem;
                }
            }
            .footercopyright{
                width:90%;
                display:flex;
                justify-content:center;
                align-items:center;
                font-size:0.55rem;
                margin:0 auto;
               

            }
        }
    }

}



//THIS IS THE STYLING FOR DEVICE WITH WIDTH 600PX TILL 768PX

@media only screen and (min-width:600px) and (max-width:768px){

    .home{
        position:relative;
        top:6.3rem;

        .newarrivals{
            width:85%;
            margin:5.5rem auto 0 auto;
            background:white;
            

            h4{
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight:bold;
                
            }

            .newproducts{
                width:100%;
                overflow-x:scroll;
                background:white;

                &::-webkit-scrollbar{
                    display:none;
                }

                .overfloww{
                    overflow-x: scroll;
                    width:180%;
                    margin:0 auto;
                    display:grid;
                    grid-template-columns:repeat(4, 1fr);
                    grid-gap:1rem;
                    background:white;

                }
            
                
            } 
            }

            .productpreview{

                width:85%;
                margin:2rem auto 0 auto;
                overflow-x:scroll;

                &::-webkit-scrollbar{
                    display:none;
                }
    
                .overfloww{
                    width:180%;
                    margin:0 auto;
                    display:grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-gap:1rem;
    
                }
    
    
            }

            .footer{
                background:#000;
                height:6rem;
                width:100%;
                margin:4rem 0 0 0;
                color:#fff;
                font-family:"Arvo", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
                .footermenu{
                    width:80%;
                    margin:0 auto;
                    height:3rem;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    padding:0.5rem 0 0 0;
                    
                    
                    
    
                    .footmenu{
                        color:#fff;
                        border-right:0.1rem solid #fff;
                        padding:0 1.5% 0 1.5%;
                        font-size:0.8rem;
                    }
                }
                .footercopyright{
                    width:80%;
                    margin:0.3rem auto 0 auto;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    font-size:0.65rem;
                   
    
                }
            }

        }
    }




//THIS IS THE STYLING FOR DEVICE WITH WIDTH 769PX TILL 1024PX

@media only screen and (min-width:769px) and (max-width:1024px){

    .home{
        position:relative;
        top:9.1rem;

        .newarrivals{
            width:96%;
            margin:1.5rem auto 0 auto;
            

            h4{
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight:bold;
                margin:0 auto 0 4%;
            }

            .overfloww{
                margin:0 4%  0 4%;
                display:grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap:0.5rem;

            }

        }

        .productpreview{

            width:96%;
            margin:2rem auto 0 auto;

            .overfloww{
                margin:0 4%  0 4%;
                display:grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap:1rem;

            }


        }

        
        .footer{
            background:#000;
            height:6rem;
            width:100%;
            margin:4rem 0 0 0;
            color:#fff;
            font-family:"Arvo", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

            .footermenu{
                width:80%;
                margin:0 auto;
                height:3rem;
                display:flex;
                justify-content:center;
                align-items:center;
                padding:0.5rem 0 0 0;
                
                
                

                .footmenu{
                    color:#fff;
                    border-right:0.1rem solid #fff;
                    padding:0 1.5% 0 1.5%;
                }
            }
            .footercopyright{
                width:70%;
                margin:0.3rem auto 0 auto;
                display:flex;
                justify-content:center;
                align-items:center;
                font-size:0.7rem;
               

            }
        }

    }

}


//THIS IS THE STYLING FOR DEVICE WITH WIDTH 1025PX TILL 1200PX

@media only screen and (min-width:1025px) and (max-width:1200px){

    .home{
        position:relative;
        top:9.2rem;
        

        .newarrivals{
            width:96%;
            margin:1.5rem auto 0 auto;
            
            h4{
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-weight:bold;
                margin:0 auto  0 4%;
            }

            .overfloww{
                margin:0 4%  0 4%;
                display:grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap:1rem;

            }


        }

        .productpreview{

            width:96%;
            margin:2rem auto 0 auto;

            .overfloww{
                margin:0 4%  0 4%;
                display:grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap:1rem;

            }


        }

        .footer{
            background:#000;
            height:6rem;
            width:100%;
            margin:4rem 0 0 0;
            color:#fff;
            font-family:"Arvo", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

            .footermenu{
                width:70%;
                margin:0 auto;
                height:3rem;
                display:flex;
                justify-content:center;
                align-items:center;
                padding:0.6rem 0 0 0;
                
                
                

                .footmenu{
                    color:#fff;
                    border-right:0.1rem solid #fff;
                    padding:0 1.5% 0 1.5%;
                }
            }
            .footercopyright{
                width:70%;
                margin:0.3rem auto 0 auto;
                display:flex;
                justify-content:center;
                align-items:center;
                font-size:0.7rem;
               

            }
        }

    }

}

//THIS IS THE STYLING FOR DEVICE WITH WIDTH 1201PX TILL ...

@media only screen and (min-width:1201px){
    .home{

        position:relative;
        top:9rem;
      

        .newarrivals{
            width:96%;
            margin:1.5rem auto 0 auto;
            

            h4{
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-weight:bold;
                margin:0 auto  0 4%;
            }

            .overfloww{
                margin:0 4%  0 4%;
                display:grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap:1rem;

            }

        }

        .productpreview{

            width:96%;
            margin:2rem auto 0 auto;

            .overfloww{
                margin:0 4%  0 4%;
                display:grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap:1rem;

            }


        }
        .footer{
            background:#000;
            height:6rem;
            width:100%;
            margin:4rem 0 0 0;
            color:#fff;
            font-family:"Arvo", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

            .footermenu{
                width:70%;
                margin:0 auto;
                height:3rem;
                display:flex;
                justify-content:center;
                align-items:center;
                padding:0.8rem 0 0 0;
                
                
                

                .footmenu{
                    color:#fff;
                    border-right:0.1rem solid #fff;
                    padding:0 2% 0 2%;
                }
            }
            .footercopyright{
                width:70%;
                margin:0.5rem auto 0 auto;
                display:flex;
                justify-content:center;
                align-items:center;
                font-size:0.7rem;
               

            }
        }

    }
    
}