//THIS IS THE STYLING FOR DEVICE WITH WIDTH 320PX TILL 480PX

@media only screen and (min-width:320px) and (max-width:480px){

    .mobileslider{

        position:relative;
        width:100%;
        height:17rem;

        img{
            width:100%;
            height:17rem;
        }
        .overflow{
            background:#00000050;
            position:absolute;
            z-index:1;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
        .textcontainer{
            width:90%;
            margin:0 auto;
            height:6.5rem;
            color:rgb(238, 228, 228);
            display:flex;
            flex-direction:row;
            justify-content:space-between;
            align-items:center;
            position:relative;
            -ms-transform:translateY(-50%);
            -webkit-transform:translateY(-50%);
            transform:translateY(-50%);
            flex-wrap:nowrap;
            z-index:2;
            top:-4rem;
            

            .textcontent{
                height:100%;
                width:57%;

                h3{
                    margin:0 0 0.5rem 0;
                    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size:1.5rem;
                }

                p{

                    font-weight:bold;
                    text-align: justify;
                    font-style:italic;
                    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size:0.7rem;
                }


            }

            h4{
                
                    background:rgb(3, 163, 238);
                    height:2rem;
                    width:26%;
                    display:flex;
                    justify-content:center;
                    align-items: center;
                    border:0.2rem solid rgb(3, 163, 238);
                    border-radius:0.2rem;
                    transition:all 0.50s ease-in-out;
                    padding:0 0.3rem 0 0.3rem;
                    font-size:1.1rem;
                    font-family:'Times New Roman', Times, serif;
                    
    
                    &:hover{
    
                        background:rgb(2, 96, 139);
                        border:0.2rem solid rgb(2, 96, 139);
    
    
                    }
            }



        }

        .smallIndicator{
            width:15%;
            height:1.5rem;
            margin:-6.5rem auto 0 auto;
            display:flex;
            flex-direction:row;
            justify-content: space-between;
            
    }

    }


}

//THIS IS THE STYLING FOR DEVICE WITH WIDTH 481PX TILL 599PX

@media only screen and (min-width:481px) and (max-width:599px){


    .mobileslider{

        position:relative;
        width:100%;
        height:21rem;

        img{
            width:100%;
            height:21rem;
        }
        .overflow{
            background:#00000050;
            position:absolute;
            z-index:1;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
        .textcontainer{
            width:90%;
            margin:0 auto;
            height:7.3rem;
            color:rgb(238, 228, 228);
            display:flex;
            flex-direction:row;
            justify-content:space-between;
            align-items:center;
            position:relative;
            -ms-transform:translateY(-50%);
            -webkit-transform:translateY(-50%);
            transform:translateY(-50%);
            flex-wrap:nowrap;
            z-index:2;
            top:-5.3rem;
            

            .textcontent{
                height:100%;
                width:57%;

                h3{
                    margin:0 0 0.7rem 0;
                    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size:2rem;
                }

                p{

                    font-weight:bold;
                    text-align: justify;
                    font-style:italic;
                    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size:0.9rem;
                }


            }

            h4{
                
                    background:rgb(3, 163, 238);
                    height:2.3rem;
                    width:25%;
                    display:flex;
                    justify-content:center;
                    align-items: center;
                    border:0.2rem solid rgb(3, 163, 238);
                    border-radius:0.2rem;
                    transition:all 0.50s ease-in-out;
                    padding:0 0.3rem 0 0.3rem;
                    font-size:1.4rem;
                    font-family:'Times New Roman', Times, serif;
                    
    
                    &:hover{
    
                        background:rgb(2, 96, 139);
                        border:0.2rem solid rgb(2, 96, 139);
    
    
                    }
            }



        }

        .smallIndicator{
            width:10%;
            height:1.5rem;
            margin:-7rem auto 0 auto;
            display:flex;
            flex-direction:row;
            align-items: center;
           
    }

    }

}

//THIS IS THE STYLING FOR DEVICE WITH WIDTH 600PX TILL 768PX

@media only screen and (min-width:600px) and (max-width:768px){
    .mobileslider{

        position:relative;
        width:100%;
        height:24rem;

        img{
            width:100%;
            height:24rem;
        }
        .overflow{
            background:#00000050;
            position:absolute;
            z-index:1;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
        .textcontainer{
            width:90%;
            margin:0 auto;
            height:7rem;
            color:rgb(238, 228, 228);
            display:flex;
            flex-direction:row;
            justify-content:space-between;
            align-items:center;
            position:relative;
            -ms-transform:translateY(-50%);
            -webkit-transform:translateY(-50%);
            transform:translateY(-50%);
            flex-wrap:nowrap;
            z-index:2;
            top:-6rem;

            .textcontent{
                height:100%;
                width:60%;

                h3{
                    margin:0 0 0.7rem 0;
                    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size:2.2rem;
                }

                p{

                    font-weight:bold;
                    text-align: justify;
                    font-style:italic;
                    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size:1rem;
                }


            }

            h4{
                
                    background:rgb(3, 163, 238);
                    height:2.3rem;
                    width:20%;
                    display:flex;
                    justify-content:center;
                    align-items: center;
                    border:0.2rem solid rgb(3, 163, 238);
                    border-radius:0.2rem;
                    transition:all 0.50s ease-in-out;
                    padding:0 0.3rem 0 0.3rem;
                    font-size:1.5rem;
                    font-family:'Times New Roman', Times, serif;
                    
    
                    &:hover{
    
                        background:rgb(2, 96, 139);
                        border:0.2rem solid rgb(2, 96, 139);
    
    
                    }
            }



        }
        .smallIndicator{
                width:7%;
                height:1.5rem;
                margin:-7rem auto 0 auto;
                display:flex;
                flex-direction:row;
                align-items: center;
                

        }

    }
}