/*THIS IS THE STYLING FOR DEVICE WITH WIDTH 320PX TILL 768PX*/

@media only screen and (min-width:320px) and (max-width:768px){
    .imagebtext{
        display:none
    }
}

//THIS IS THE STYLING FOR DEVICE WITH WIDTH 769PX TILL 1024PX

@media only screen and (min-width:769px) and (max-width:1024px){
    .imagebtext{

        width:100%;
        height:20rem;
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        margin:4rem 0 0 0;

        .btext{

            width:60%;
            height:20rem;

            img{
                width:100%;
                height:100%;
            }

        }
        .aimg{
            width:40%;
            height:20rem;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;

            h1{
                
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                letter-spacing:4px;
            }

            p{

                width:80%;
                text-align:center;
                font-family:"Roboto", "sans-serif";
                padding:1rem 0 0 0;
                line-height:1.5rem;
                font-size:0.9rem;
                margin:0 0 1.5rem 0;


            }
        }

    }
}

//THIS IS THE STYLING FOR DEVICE WITH WIDTH 1025PX TILL 1200PX

@media only screen and (min-width:1025px) and (max-width:1200px){

    .imagebtext{
        width:100%;
        height:21rem;
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        margin:4rem 0 0 0;

        .btext{
            width:60%;
            height:21rem;

            img{
                width:100%;
                height:100%;
            }

        }
        .aimg{

            width:40%;
            height:21rem;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;

            h1{
                
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                letter-spacing:4px;
            }

            p{

                width:80%;
                text-align:center;
                font-family:"Roboto", "sans-serif";
                padding:1rem 0 0 0;
                line-height:1.5rem;
                font-size:0.9rem;
                margin:0 0 1.5rem 0;


            }

        }
    }
}

//THIS IS THE STYLING FOR DEVICE WITH WIDTH 1201PX TILL ....

@media only screen and (min-width:1201px){
    .imagebtext{

        width:100%;
        height:22rem;
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        margin:4rem 0 0 0;

        .btext{

            width:60%;
            height:22rem;

            img{
                width:100%;
                height:100%;
            }

        }

        .aimg{

            width:40%;
            height:22rem;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;

            h1{
                
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                letter-spacing:4px;
            }

            p{

                width:80%;
                text-align:center;
                font-family:"Roboto", "sans-serif";
                padding:1rem 0 0 0;
                line-height:1.5rem;
                font-size:0.9rem;
                margin:0 0 1.5rem 0;


            }

           
        }


        }


    }