/*THIS IS THE STYLING FOR DEVICCE WITH WIDTH 320PX TILL 480PX*/

@media only screen and (min-width:320px) and (max-width:480px){

    .mobilepreviews{
        width:100%;
        margin:3.5rem 0 0 0;

        .backgroundimg{
            width:100%;
            img{

                width:100%;
                height:13.5rem;

            }
        }

        .justtext{
            width:85%;
            margin:2rem auto 3.5rem auto;
            height:7rem;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            

            h1{
                
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                letter-spacing:4px;
            }

            p{

                text-align:center;
                font-family:"Roboto", "sans-serif";
                padding:1rem 0 0 0;
                line-height:1.2rem;
                font-size:0.9rem;
                margin:0 0 1rem 0;


            }
        }
    }

}
/*THIS IS THE STYLING FOR DEVICE WITH WIDTH 481PX TILL 599PX*/

@media only screen and (min-width:481px) and (max-width:599px){
    .mobilepreviews{
        width:100%;
        margin:4rem 0 0 0;

        .backgroundimg{
            width:100%;
            img{

                width:100%;
                height:16.5rem;

            }
        }

        .justtext{
            width:85%;
            margin:1.6rem auto 4rem auto;
            height:7rem;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            

            h1{
                
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                letter-spacing:4px;
            }

            p{

                text-align:center;
                font-family:"Roboto", "sans-serif";
                padding:1rem 0 0 0;
                line-height:1.2rem;
                font-size:0.9rem;
                margin:0 0 1.2rem 0;


            }
        }
    }
}

/*THIS IS THE STYLING FOR DEVICE WITH WIDTH 600PX TILL 768PX*/

@media only screen and (min-width:600px) and (max-width:768px){

    .mobilepreviews{
        width:100%;
        margin:4rem 0 0 0;

        .backgroundimg{
            width:100%;
            img{

                width:100%;
                height:20rem;

            }
        }

        .justtext{
            width:85%;
            margin:1.6rem auto 5rem auto;
            height:7rem;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            

            h1{
                
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                letter-spacing:4px;
            }

            p{

                text-align:center;
                font-family:"Roboto", "sans-serif";
                padding:1rem 0 0 0;
                line-height:1.2rem;
                font-size:0.9rem;
                margin:0 0 1.2rem 0;


            }
        }

    }

}


/* THIS IS THE STYLING FOR DEVICE WITH WIDTH 769PX TILL ...*/

@media only screen and (min-width:769px){
    .mobilepreviews{
        display:none;
    }

}